@import "_normalize";
@import "_variables";
@import "_mixins";
@import url('https://fonts.googleapis.com/css?family=Kanit:400,700|Lobster&display=swap&subset=latin-ext');

@keyframes backgroundChange {
  0% {
    background-color: $yellow;
  }
  50% {
    background-color: $green;
  }
  100% {
    background-color: $yellow;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 100px;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  width: 100%;
  &__up{
    text-transform: uppercase;
    font-family: $kanitFont;
    @include borderRadius25px;
    background: $gradientBackground;
    position: fixed;
    bottom: 100px;
    right: 80px;
  }
  &__searchTool {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    font-family: $lobsterFont;
  }
  &__input {
    width: 250px;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid $black;
  }
  &__title {
    font-size: 60px;
    font-family: $kanitFont;
    text-transform: uppercase;
    letter-spacing: 5px;
    background: $gradientBackground;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: $black;
    -webkit-text-stroke-width: 1px;
  }
}

main {
  width: 100%;
}
.formWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.addForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  &__inputsWrapper {
    width: 459.5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  &__title {
    border-radius: 5px;
    border: 1px solid $black;
    font-family: $lobsterFont;
  }
  &__submitBtn {
    @include BorderRadius5px;
    font-family: $kanitFont;
    text-transform: uppercase;
    background: $gradientBackground;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
    &:hover{
      transform: scale(1.15);
    }
    &:active {
      background: $white;
    }
  }
  &__content {
    margin: 0;
    padding: 0;
    animation: backgroundChange 10s ease-in-out infinite;
    border-radius: 5px;
    border: 1px solid $black;
    font-family: $lobsterFont;
  }
}

.todo {
  width: 100%;
  padding: 0;
  &__item {
    list-style: none;
    padding: 0 0 50px 0;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  &__index {
    box-sizing: border-box;
    font-family: $kanitFont;
    @include borderRadius25px;
    background-color: $yellow;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
    &:hover {
      background-color: $green;
      transform: scale(1.15);
    }
  }
  &__title {
    font-family: $lobsterFont;
    font-weight: bold;
  }
  &__deleteBtn {
    height: 50px;
    width: 50px;
    font-family: $kanitFont;
    @include borderRadius25px;
    background-color: $green;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
    &:hover {
      background-color: $yellow;
      transform: scale(1.15);
    }
  }
  &__content {
    margin: 0 50px;
    font-family: $lobsterFont;
  }
  &__date {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $kanitFont;
  }
}
.footer{
  width:100%;
  display:flex;
  justify-content: center;
  &__author{
    font-family: $kanitFont;
    font-size: 10px;
  }
}
